@using NetCoreBBS.ViewComponents
<div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">Ives Blog</h3>
    </div>
    <div class="panel-body">
        <h5>晓看天色暮看云，行思也，坐思也！</h5>
        服务器时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
    </div>
</div>
@(await Component.InvokeAsync<TopicRankList>(new { days = 30 }))
@(await Component.InvokeAsync<Statistics>())